*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 0.8;

}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    position: sticky;
    top: 40px;
}

.main-content{
   background-color: #2a2a2a;
   border: 1px solid #3a3a3a;
   border-radius: 16px;
   padding: 20px; 
}

/* Profile section */

.profile{
    text-align: center;
    padding-top: 30px;
}

.profile img{
    height: 140px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #1a1a1a;
    object-fit: cover;

}

.profile h2{
    font-size: 1.5 rem;
    font-weight: 700px;
    margin-top: 20px;
    color: #e2dede;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #F5DEB3;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/* Contact */

.contact{
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-top: 2px solid #3a3a3a;
    border-radius: 40px;
    
}

.ar{
    font-weight: 500;
    font-size: 0.8rem;
    color: #868686;
    margin-bottom: 10px;
}

.data{
    color:#e2dede;
    text-decoration: none;
}

.email,.phone,.location{
    margin-bottom: 15px;
}

/* social-media */

.social-media{
     margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-top: 2px solid #3a3a3a;
    text-align: center;
    border-radius: 40px;

}

.social-media img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(4617%) hue-rotate(311deg) brightness(124%) contrast(92%);
    transition: filter 0.3s ease-in-out;
}

.social-media img:hover{
       filter: brightness(0) saturate(0) invert(0);
 
}

/* main-content */

/* navigation-bar */

.navigation-bar{
    
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
  
    margin: 20px;  
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #e2dede;
    font-weight: 500;
    transition: color 0.3s ease;
    
}

.active,nav a:hover{
    color: #ffbf00 ;
}

/* about-me */

.heading{
    color: #e2dede;    
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color:#D4AF37;
    margin-bottom: 30px;
}

#about-me p{
    line-height: 1.5;
    text-align: justify;
    color: #a0a0a0; 
}

/* skills */

.skills{
    margin-top: 20px;
    color: #e2dede;
    font-size: 2rem;
    margin-bottom: 15px;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px , 1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;

}

.item img{
    height: 48px;
    width: 48px;
    filter: brightness(0) saturate(100%) invert(84%) sepia(93%) saturate(890%) hue-rotate(328deg) brightness(89%) contrast(84%);    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.3);
}

/* education */

.Education{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #e2dede;
    font-size: 2rem;
}

.edtech{
    position: relative;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 15px;
}

.degree{
    color: #D4AF37;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #a0a0a0;
    line-height: 1.5;
    text-align: justify;

}

.edfirst {
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border: 4px solid #ffbf00;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.liner{
    position: absolute;
    width: 0.5px;
    top: 0px;
    bottom: 0px;
    /* height: 400px; */
    border: 2px solid #3a3a3a;
    margin-left: 5px;
}

/* projects */

.projects{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #e2dede;
    font-size: 2rem;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    margin-top: 30px;
}

.work1{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 1s ease , box-shadow 1 ease;

}

.work1:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.8);
}

.work1 img{
    height: 180px;
    width: 100%;
    object-fit:cover;
}

.card{
    padding: 20px;
}

.card h3{
    color:#e0e0e0 ;
    margin-bottom: 10px;
}

.card p{
   line-height: 1.2;
   color: #a0a0a0;
   text-align: start;
}

.card span{
    display: inline-block;
    background-color: rgba(255 , 191 , 0 , 0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
    margin-top: 10px;

    
}
